<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analyse</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
    <div class="header">
        <button class="top-button data" hx-get="templates/data-page.html" hx-swap="innerHTML" hx-target="#content" hx-trigger="click">Data</button>
        <button class="top-button graph" hx-get="templates/chart-page.html" hx-swap="innerHTML" hx-target="#content" hx-trigger="click">Graph</button>
    </div>
    <div class="content" id="content">
    </div>
</body>
</html>