@font-face {
    font-family: Adwaita Sans;
    src: url(/static/fonts/AdwaitaSans-Regular.ttf);
}

@font-face {
    font-family: Adwaita Sans;
    src: url(/static/fonts/AdwaitaSans-Italic.ttf);
    font-style: italic;
}

:root {
    --bg-color-normal: #f6f5f4;
    --bg-color-highlighted: #c0bfbc;
}
@media(prefers-color-scheme: dark) {
    :root {
        --bg-color-normal: #241f31;
        --bg-color-highlighted: #3d3846;
    }
}

body {
    margin: 0;
    font-family: "Adwaita Sans";
}
 
.header {
    background-color: pink;
    margin: 0;
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.content {
    height: 100%;
    background-color: blue;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.top-button {
    margin: 8px;
    border: 0;
    padding: 5px;
    background-color: var(--bg-color-normal);
}

.top-button:hover {
    background-color: var(--bg-color-highlighted);
}